<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Books List</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Isbn</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td scope="row" th:text="${book.isbn}"></td>
        <td scope="row" th:text="${book.title}"></td>
        <td scope="row" th:text="${book.author}"></td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <a style="margin-right: 10px;" class="btn btn-info" role="button" href="/books/save">Create new book</a>
</div>
</body>
</html>
